# Homework 0

In [34]:
import pandas as pd
import numpy as np

In [4]:
data_path = './Data/interactive_data.csv'
data= pd.read_csv(data_path)
data

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...,...
535,536,Unknown,Male,5,White,0,0,NaN
536,537,Unknown,Male,5,Black,0,0,NaN
537,538,Unknown,Male,5,Hispanic,0,0,NaN
538,539,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
539,540,Unknown,Male,5,Other,0,0,NaN

In [5]:
data.columns

Index(['Unnamed: 0', 'Intent', 'Gender', 'Age', 'Race', 'Deaths', 'Population',
       'Rate'],
      dtype='object')

In [24]:
df = data.values

In [26]:
transpose = df.T

In [27]:
transpose

array([[1, 2, 3, ..., 538, 539, 540],
       ['None selected', 'None selected', 'None selected', ...,
        'Unknown', 'Unknown', 'Unknown'],
       ['None selected', 'None selected', 'None selected', ..., 'Male',
        'Male', 'Male'],
       ...,
       [33599, 22079, 7765, ..., 0, 0, 0],
       [316299978, 197369634, 38896382, ..., 0, 0, 0],
       [10.6, 11.2, 20.0, ..., nan, nan, nan]], dtype=object)

In [36]:
total_element = len(transpose[1])

In [41]:
suicide = np.count_nonzero(transpose[1] == 'Suicide')
none_selected = suicide = np.count_nonzero(transpose[1] == 'None selected')

In [46]:
position_suicide = np.where(transpose[1] == 'Suicide')
rate_suicide = transpose[7][position_suicide]

In [56]:
nan = np.where(rate_suicide == NaN)
inf = np.where(rate_suicide == 'inf')
print(nan)
#rate_suicide(nan) = 0
#rate_suicide(inf) = 0

NameError: name 'NaN' is not defined

Nearly two-thirds of gun deaths are suicides.

In [48]:
print(np.sum(rate_suicide))

nan